/*
****************
    颜色变量
****************
*/
// 文字
// 在白底上
$font-color-black:        #000000;
// 在有色底上
$font-color-white:        #ffffff;
// 文字选中
$font-color-focus:        #3485fb;
// 文字 hover
$font-color-hover:        #71AAFC;
// 辅助性文字 灰色不明显
$font-color-gray:         #001529;
// 输入框提示文字 禁用文字 灰色
$font-color-placeholder:  #999999;

// 主题色
$primary-color:           #3485FB;
// 主色 hover 提亮
$primary-color-hover:     #71AAFC;
// 主色 avtive 激活 按下
$primary-color-active:    #0457B4;

// 成功 绿色
$success-color:           #009900;
// 警告 橙色
$warning-color:           #FF990F;
// 危险 红色
$danger-color:            #DA4545;

// 菜单的button
// 菜单项放上去
$menu-button-color-hover: #EBF7FF;
// 菜单项放上去
$menu-button-color-active:#F6F7FB;

// 禁用背景颜色 不可用颜色
$disabled-color:          #F4F4F4;

// 背景 白色
$bg-color-white:          #FFFFFF;
// 背景 线条 灰色
$bg-color-gray:           #E8ECF0;


